@import "tailwindcss";

:root {
  --color-light: #fff;
  --color-dark: #191919;
  /* --color-primary: #dfb488; */
  --color-primary: #786350;
  --color-secondary: #d7b221;
  --font-heading: 'Cooper Hewitt', sans-serif;
  --font-body:'Roboto', sans-serif;

}

@theme inline {
  --color-light: var(--color-light);
  --color-dark: var(--color-dark);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --color-primary: var(--color-primary);
  --color-secondary:var(--color-secondary);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #191919;
  }
} */

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family:var(--font-body);
  line-height: 1.4em;
}

h1 {
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--color-dark);
}
h3{
  font-family: var(--font-heading);
  font-weight: 600;
}
a{
  color: var(--color-secondary);
  line-height: 1em;
}
a:hover{
  color: var(--color-primary);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
span{
  line-height: 1em;
}
li{
  color: var(--color-light);
}
button{
    font-family:var(--font-body);
}